<mat-card class="card-width ">
  <mat-card-content>
    <mat-form-field>
      <form [formGroup]="form" (submit)="submitHandler()">
        <input
          matInput
          placeholder="New Task"
          formControlName="text"
          type="text"
        />
      </form>
    </mat-form-field>
    <mat-card-actions>
      <button
        color="primary"
        mat-raised-button
        [disabled]="form.invalid"
        type="submit"
      >
        Add
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
